body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
h1{
  font-size: 45px;
  
}
.orangehigh{
  color: orange;

}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;


}
.half-width img {
  width: 75%;
}
.topbanner{
  background-image:url("resources/top-banner.png") ;
  background-repeat: no-repeat;
}
section{
  height: 500px;
  padding-bottom: 170px;
}
.linkbutton{
  text-decoration: none;
  background-color: mediumturquoise;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;

}
p{
  color: dimgray;
}
.dream-area{
  background-image: url("resources/dream-bg.png");
  background-repeat: no-repeat;
  background-position:right ;
}
.singleaboutme{
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  height: 70%;
}
.aboutme{
  background-image: url("resources/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;

}
#edu_cation{
  border-left: 7px solid;
  border-image: linear-gradient(180deg , lightsalmon   ,tomato ) ;
  border-image-slice: 1;
}
#con_tact{
  border-left: 7px solid;
  border-image: linear-gradient(180deg ,blue,cyan ) ;
  border-image-slice: 1;

}
footer p{
  text-align: center;
}

