body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}
h1{
  font-size: 45px;
  
}
.namehigh{
  color: orange;

}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;


}
.half-width img {
  width: 75%;
}
.topbanner{
  background-image:url("resources/top-banner.png") ;
  background-repeat: no-repeat;
}
section{
  height: 500px;
}
.linkbutton{
  text-decoration: none;
  background-color: mediumturquoise;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;

}

